* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #040924;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.alert{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 36px;
  color: #fff;
  background-color: #F03E3E;
  display: flex;
  justify-content: center;
  align-self: self-start;
  align-items: center;
  animation: move 1s;
}
.shadow{
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.imc{
    width: 363px;
    height: 152px;
    background-color: #fff;
    border-radius: 6px;
    display: grid;
    position: absolute;

  & .text-result{
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 28px;
    color: #0C3440;
    margin-bottom: 64px;
    justify-self: center;
  }
  & .close{
    padding: 8px;
    justify-self: end;

    & button{
      background-color: #fff;
      border: none;
      cursor: pointer;
      
    }
  }
  }

.container{
  width: 428px;
  height: 440px;
  background-color: #fff;
  border-radius: 6px;
  text-align: start;
  display: grid;
  place-content: start;
  padding: 48px 64px 64px 64px;
  position: absolute;

  & h3{
    font-family: 'Roboto', sans-serif;
    color: #0C3440;
    font-size: 32px;
    font-weight: 1000px;
    margin-bottom: 32px;
  }
  & p{
    font-family: 'Roboto', sans-serif;
    color: #0C3440;
    font-size: 14px;
    font-weight: 400px;
    margin-bottom: 8px;
  }
  & button{
    background-color: #02799D;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    color: #fff;
    width: 300px;
    height: 52px;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;

    &:hover{
      background-color: #064b60;
    }
  }
  & input{
    background-color: #DCE2E9;
    width: 300px;
    height: 52px;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
  }
}
.hide{
  display: none;
}

@keyframes move{
  0%{
    transform: translateY(-36px);
  }
  100%{
    transform: translateY(0px);
  }
}


